@model Driftservice_Registration.Models.Contact

@using Recaptcha.Web.Mvc

@{
    ViewBag.Title = "Create";
}

<h2>Driftservice - Registration</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal form-control-feedback">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Business, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Business, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Business, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.NotificationType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="form-check" style="margin-top: 5px;">
                <input type="checkbox" name="EmailChecked" value="true" /><label style="margin-left: 5px; margin-right: 10px">Email</label>
                <input type="checkbox" name="SmsChecked" value="true" /><label style="margin-left: 5px">Sms</label><br />
                @Html.ValidationMessageFor(model => model.NotificationType, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Language, new SelectListItem[]{
            new SelectListItem() {Text = "Svenska", Value="1"},
            new SelectListItem() {Text = "English", Value="2"} }, new { @style = "width: 100px; height: 25px; margin-top: 5px;" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.RegDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="input-group col-md-10">
            @Html.EditorFor(model => model.RegDate, new { htmlAttributes = new { @class = "form-control" } })
            <span class="btn btn-default input-group-addon" id="datebtn"><i class="glyphicon glyphicon-calendar"></i></span>
            @Html.ValidationMessageFor(model => model.RegDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" id="recaptcha">
            @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
            @Html.ValidationMessage("reCAPTCHA", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p>* fields are required.</p>
            <input type="submit" value="Submit" class="btn btn-danger btn-block" />
        </div>
    </div>

</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
