@model Driftservice_Registration.Models.Contact

<div class="modal-header">
    <h4 class="modal-title" id="modalTitle">Ändra Kontakt</h4>
</div>

@{
    var serviceList = ViewBag.item;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.ContactID)
            @Html.HiddenFor(m => m.NotificationType)
            @Html.HiddenFor(m => m.ContactGuid)
            @Html.HiddenFor(m => m.RegDate)
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(m => m.FirstName)
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control required", id = "editContactName" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(m => m.LastName)
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control required" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(m => m.Business)
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(m => m.Business, new { htmlAttributes = new { @class = "form-control required" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(m => m.PhoneNumber)
                </div>
                <div class="col-lg-9">
                    @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control required" } })
                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(m => m.NotificationType)
                </div>
                <div class="col-lg-9">
                    <div class="form-block" id="regCheckGroup">
                        <input type="checkbox" id="EmailChecked" value="true" /><label style="margin-left: 10px; margin-right: 10px">Email</label>
                        <input type="checkbox" id="SmsChecked" value="true" /><label style="margin-left: 10px">Sms</label><br />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(m => m.Language)
                </div>
                <div class="col-lg-9">
                    @Html.DropDownListFor(m => m.Language, new SelectListItem[]{
                        new SelectListItem() {Text = "Svenska", Value="1"},
                        new SelectListItem() {Text = "Engelska", Value="2"},
                        new SelectListItem() {Text = "Tyska", Value="3"}}, new { @style = "width: 120px; height: 30px; padding: 5px;", @class="form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6">
                    <div class="card" style="margin:30px 0">
                        <ul class="list-group list-group-flush">
                            @foreach (var item in serviceList)
                            {
                                <li class="list-group-item">
                                    @item.Description
                                    <label class="checkbox">
                                        <input type="checkbox" @if (item.IsChecked) { <text> checked</text>} class="check" id="@item.Id" value="true" />
                                        <span class="success"></span>
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-success" id="editContactBtn" onclick="EditContact()"><i class="fa fa-check"></i>Spara</a>
        <a class="btn btn-danger" id="modalCancelBtn" data-dismiss="modal"><i class="fa fa-times"></i>Avbryt</a>
    </div>
}
<script>
    $(document).ready(function () {
        $(window).keydown(function (e) {
            if (e.keyCode === 13 || e.keyCode === 10) {
                e.preventDefault();
                $('#editContactBtn').click().one();
                $(this).off();
            }
        }).one();
    }).one();
</script>
<style>
    .error-border {
        border: 1.5px solid red;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,0,0,.6);
    }
</style>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/checkboxes.js"></script>