@model Driftservice_Registration.Models.AdminVM

@{
    ViewBag.Title = "Administration";
}

<div class="well">
    Driftservice - Administration
</div>

<div class="input-group" id="searchBox">
    @Html.TextBox("searchContact", "", new { @class = "form-control", placeholder = "Sök kontakt.." })
    <span id="searchIcon" class="glyphicon glyphicon-search" aria-hidden="true"></span>
</div>

<div class="tab">
    <button class="tablinks" onclick="toggleTab(event, 'Kontakter')" id="defaultTab">Kontakter</button>
    <button class="tablinks" onclick="toggleTab(event, 'Tjänster'), tabTools(), GetServiceTypes()">Tjänster</button>
    <div class="tabTools">
        <button class="tablinks" title="Skapa ny" id="createBtn">
            <i class="fas fa-plus" aria-hidden="true" style="font-size: 30px; color: #86d167; transform: translateY(-3px);"></i>
        </button>
    </div>
</div>

<div id="Kontakter" class="tabcontent">
    <div class="well well-lg">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Förnamn
                    </th>
                    <th>
                        Efternamn
                    </th>
                    <th>
                        Företag
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Telefon
                    </th>
                    <th>
                        Kontaktmetod
                    </th>
                    <th>
                        KontaktGuid
                    </th>
                    <th>
                        Språk
                    </th>
                    <th>
                        Datum
                    </th>
                    <th></th>
                </tr>
                <tbody class="cTable"></tbody>
            </table>
        </div>
    </div>
</div>

<div id="Tjänster" class="tabcontent">
    <div class="well well-lg">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        ServiceTypeID
                    </th>
                    <th>
                        Beskrivning
                    </th>
                    <th>
                        Visa på sidan
                    </th>
                    <th></th>
                </tr>
                <tbody class="sTable"></tbody>
            </table>
        </div>
    </div>
</div>

<div id='editContactModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='modalContent'>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/adminajax.js")"></script>
    <script src="@Url.Content("~/Scripts/tabtoggle.js")"></script>
    <script src="@Url.Content("~/Scripts/search.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.js")"></script>
}