@model IEnumerable<Driftservice_Registration.Models.AdminVM>

@{
    ViewBag.Title = "Administration";
}

<div class="well">
    Driftservice - Administration
</div>

<div class="input-group" id="searchBox" style="margin-left:220px; transform:translateY(42px);">
    @Html.TextBox("searchContact", "", new { @style = "width:200px;", @class = "form-control", placeholder = "Sök kontakt.." })
    <span id="searchIcon" class="glyphicon glyphicon-search" aria-hidden="true"></span>
</div>

<div class="tab">
    <button class="tablinks" onclick="toggleTab(event, 'Kontakter'), addonsKontakter()" id="defaultTab">Kontakter</button>
    <button class="tablinks" onclick="toggleTab(event, 'Tjänster'), addonsTjänster()">Tjänster</button>
</div>

<div id="Kontakter" class="tabcontent">
    <div class="well well-lg">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Förnamn
                    </th>
                    <th>
                        Efternamn
                    </th>
                    <th>
                        Företag
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Telefon
                    </th>
                    <th>
                        Kontaktmetod
                    </th>
                    <th>
                        KontaktGuid
                    </th>
                    <th>
                        Språk
                    </th>
                    <th>
                        Datum
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    foreach (var contact in item.contact)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => contact.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => contact.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => contact.Business)
                            </td>
                            <td>
                                @Html.DisplayFor(model => contact.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(model => contact.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(model => contact.NotificationType)
                            </td>
                            <td>
                                @Html.DisplayFor(model => contact.ContactGuid)
                            </td>
                            <td>
                                @Html.DisplayFor(model => contact.Language)
                            </td>
                            <td>
                                @Html.DisplayFor(model => contact.RegDate)
                            </td>
                            <td>
                                <a href="@Url.Action("Delete", "Admin", new { id = contact.ContactID })" title="Ta bort">
                                    <i class="fa fa-trash-o fa-lg" aria-hidden="true" style="font-size: 25px; color: red;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<div id="Tjänster" class="tabcontent">
    <div class="well well-lg">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        ServiceTypeID
                    </th>
                    <th>
                        Beskrivning
                    </th>
                    <th>
                        Visa på sidan
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    foreach (var serviceType in item.serviceType)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => serviceType.ServiceTypeID)
                            </td>
                            <td>
                                @Html.EditorFor(model => serviceType.Description, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => serviceType.PublicServiceType)
                            </td>
                            <td>
                                <a href="@Url.Action("Delete", "Admin", new { id = serviceType.ServiceTypeID })" title="Ta bort" >
                                    <i class="fa fa-trash-o fa-lg" aria-hidden="true" style="font-size: 25px; color: red;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
